---
extends: default

rules:
  line-length:
    max: 150
    allow-non-breakable-words: true
  document-start: disable
  truthy:
    allowed-values: ["true", "false", "on", "off"]
  comments:
    min-spaces-from-content: 1
